.main_page {
  height: 100vh;
  width: 100%;
  /* background: url("../../img/main2.png");
  background-position: center;
  background-size: cover; */
}

.main_top {
  display: flex;
  justify-content: space-between;
  padding: 24px 0;
  margin-left: 100px;
  z-index: 10;
}
.logo {
  z-index: 4;
  text-align: left;
  color: white;
  font-family: 'Righteous', cursive;
  margin-left: 40px ;

  span {
    font-size: 43px;
  }

  p {
    font-size: 18px;
    margin: 0;
  }

}

.front_img {

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  background: url("../../img/main_front.png");
  background-size: cover;
  height: 100%;

}
#sky {
  background: url("../../img/sky.jpg");
  background-size: cover;
  position: absolute;
 margin: 0 auto;
 left: 0;
 top: 0;
  height: 100vh;
  width: 100vw;
  z-index: 0;
}

#sky {
  -webkit-animation: sky  80s linear infinite;
  animation: sky 80s linear infinite;
}
@-webkit-keyframes sky  {
  0% { background-size: 100vw 100vh }
  50% { background-size:  160vw 100vh }
  100% { background-size:  100vw 100vh}
}
@keyframes sky  {
  0% { background-size:  100vw  100vh}
  50% { background-size: 160vw 100vh }
  100% { background-size:  100vw 100vh}
}


.phone {
  z-index: 10;
  display: flex;
  align-items: center;
  margin-right: 100px;
}

.phone_icon, .main_offer_arrow {
  display: inline;
  margin-right: 10px;
}
.phone a {
  font-size: 18px;
  color: white;
  text-decoration: none;
}


.main_content{
 z-index: 10;
  margin-left: 220px;
  h1 {
    width: 300px;
    font-weight: 400;
    z-index: 3;
    margin-top: 23vh;
    margin-left: 140px;
    text-align: left;
    font-size: 50px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }

}

.main_offer {
  z-index: 3;
  display: flex;
  align-items: center;
  font-size: 18px;
  position: absolute;
  right: 100px;
  bottom: 100px;
  span {
    z-index: 10;
    margin-right: 20px;
  }
  .main_offer_arrow{
    margin-bottom: -5px;
  }
}